@keyframes slide-up-animation {
    0% {
        transform: translateY(6rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

.slide-up {
    animation: slide-up-animation 0.8s;
}

/* nav {
    background: tomato;
    width: 100%;
    position: absolute;
    top: 0;
} */

nav {
    width: 100%;
    background: rgba(30,30,30,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    position: fixed;
    top: 0;
    z-index: 10;
}